.ms-container {
    width: 80%;
    max-width: 800px;
    margin: auto;
}

.ms-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.ms-width-10 {
    width: calc(100% / 10);
}

.ms-width-9 {
    width: calc(100% / 9);
}

.ms-width-7 {
    width: calc(100% / 7);
}

.ms-col {
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .25s all ease-in-out;
}

.ms-col:hover {
    border: 3px solid;
}

.ms-bg-success {
    background-color: rgb(94, 242, 252);
}

.ms-bg-alert {
    background-color: rgb(252, 220, 94);
}

.ms-bg-danger {
    background-color: red;
}

.ms-text-sm {
    font-size: .6rem;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.445);
}

#app_header .navbar-brand {
    width: 60px;
    align-self: center;
}

#app_header,
#app_footer 
{
    height: 80px;
}

#app_main {
    min-height: calc(100vh - 160px);
    background-color: #34ffd1;
    padding: 5rem;
}

#app_header h1 {
    vertical-align: sub;
}